h1 {
    color: #0c1462;
    border-bottom: 2px solid #6e6e6e;
}
  
h2 {
    color: #0c1462;
    font-style: italic;
    font-size: 16px;
}

h3 {
    color: navy;
    background: #c1c0c0;
}
h3::first-letter {
    font-weight: bold;
}

h4 {
    color: navy;
    border: 2px dashed black;
}

h5 {
    color: darkred;
    text-transform: uppercase;
}

h6 {
    color: darkred;
    font-family: Arial;
    font-weight: normal;
}
