:root {
    --main-color: #024495;
}

.table-border {
    border: 3px solid var(--main-color);
}

body,
p {
    font-size: 14px;
    font-family: sans-serif;
    margin: 15px;
}

.left-column {
    background: #d6d6d6;
    border-right: 3px solid var(--main-color);
}

.title {
    background: var(--main-color);
    color: white;
    padding: 5px 15px;
}

.menu li {
    color: var(--main-color);
}

.menu li a {
    color: var(--main-color);
}

.menu li:hover {
    color: black
}

.menu li:hover a {
    color: black
}

h1 {
    font-size: 28px;
    margin-left: 15px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.big-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.big-table td {
    border: 2px solid var(--main-color);
    padding: 8px;
    text-align: center;
}

.big-table tr:first-child td {
    background: var(--main-color);
    color: white;
    font-weight: bold;
}

.big-table tr:hover {
    background: #f2f6ff;
}
